<footer id="footer">
	<h2>Luiz Meneghim &middot; Front-End Dev</h2>
   
	 <ul>
	   <li>
		 <a href="https://linkedin.com/luizmeneghim" <span class="fab fa-linkedin" aria-hidden="true"></span><span class="sr-only">LinkedIn</span></a>
		 </li>
	   <li>
		 <a href="https://github.com/gooferg" <span class="fab fa-github-square" aria-hidden="true"></span><span class="sr-only">Github</span></a>
		 </li>
	   <li>
		 <a href="emailto:luiz.meneghim@hotmail.com" <span class="fas fa-envelope" aria-hidden="true"></span> <span class="sr-only"> Email </span></a>
	   </li>
	 </ul>  
   
   <p><small>&copy; 2021 Luiz Meneghim. All rights reserved.</small></p> 
   </footer>
   