<nav>
  <ul>
    <li>
      <h1>
        <a href="index.html">
          <span class="fas fa-user-secret" aria-hidden="true"></span>
          <span>Luiz Meneghim</span>
        </a>
      </h1>
    </li>
    <li><a href="#projects">Projects</a></li>
    <li><a href="#about.html">About</a></li>
    <li><a href="#contact">Contact</a></li>
    <li>
      <a href="https://linkedin.com">
        <span class="fab fa-linkedin" aria-hidden="true"></span>
        <span class="sr-only">LinkedIn</span>
      </a>
    </li>
    <li>
      <a href="https://github.com/GooferG"
        ><span class="fab fa-github-square" aria-hidden="true"> </span>
        <span class="sr-only"> Github </span></a
      >
    </li>
    <li>
      <a href="https://dropbox.com" class="button">Resume</a>
    </li>
  </ul>
</nav>
